# Data Science Tools and Ecosystem

In this notebook, Data science tools and ecosytem are summerized as such

**Objectives:**
* Java
* Python
* C++

## Some popular languages to use in data Science are
1) python
2) R
3) Java

## some commmonly used libraries used in Data science include:
1) Numpy
2) Matplotlib
3) Pandas

|Data Science tools|
|------------------|
|Jupyte|
|Github|
|Rstudio|

### Below are a few Examples of evaluating arithmetic expression in Python

In [4]:
(3*4)+5  #This a simple arithmetic expression to mutiply then add integers

17

In [8]:
##Converting 200 minutes to hours
200/60

3.3333333333333335

## Author 
Katleho